# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Local data & outputs (keep parquet files tracked)
data/**
outputs/**
pvgis_cache/**
!data/**/*.parquet
!outputs/**/*.parquet
!pvgis_cache/**/*.parquet
!data/.gitkeep
!outputs/.gitkeep
!pvgis_cache/.gitkeep

# OS/editor
.vscode/
.DS_Store

.pdf
